body {
    background:#838c94;
    font-family:monospace;
    font-size: large
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width: 22%;
    padding: 15px;
    border: 10px ridge #2F4F4F;
    margin:15px;    
    background-color: #697e79d8
}

.assignment img {
    width:250px;
    height: 250px;
    margin: 20px;
    border: 6px outset #2F4F4F;
    display:block;
    margin:auto;
}

h1 {
    color:#2F4F4F;
    text-align:left;
}

a {
    text-decoration:none;
    color: #2F4F4F;
}

a:hover {
    color: black;
}